@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Set default background ke warna Cream kita */
  --background: #FEFCF5; 
  --foreground: #2F3E46;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar biar elegan (Opsional) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #FEFCF5; 
}
::-webkit-scrollbar-thumb {
  background: #84A98C; 
  border-radius: 4px;
}